**Indicadores de Educación, Ciencia, Tecnología e Innovación**

In [ ]:
#rm(list=ls()) #limpa el entorno de trabajo

#LIBRERIAS
libraries <- c("tidyverse",
               "readr", 
               "srvyr",
               "showtext", 
               "haven", 
               "openxlsx", 
               "tidyr")

installed_packages <- rownames(installed.packages())
libraries_to_install <- setdiff(libraries, installed_packages)

if (length(libraries_to_install) > 0) {
  install.packages(libraries_to_install)}

lapply(libraries, library, character.only = TRUE)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Adjuntando el paquete: 'srvyr'


The following object is masked from 'package:stats':

    filter


Cargando paquete requerido: sysfonts

Cargando paquete requerido: showtextdb

[[1]]
 [1] "lubridate" "forcats"   "stringr"   "dplyr"     "purrr"     "readr"
 [7] "tidyr"     "tibble"    "ggplot2"   "tidyverse" "stats"     "graphics"
[13] "grDevices" "utils"     "datasets"  "methods"   "base"

[[2]]
 [1] "lubridate" "forcats"   "stringr"   "dplyr"     "purrr"     "readr"
 [7] "tidyr"     "tibble"    "ggplot2"   "tidyverse" "stats"     "graphics"
[13] "grDevices" "utils"     "datasets"  "methods"   "base"

[[3]]
 [1] "srvyr"     "lubridate" "forcats"   "stringr"   "dplyr"     "purrr"
 [7] "readr"     "tidyr"     "tibble"    "ggplot2"   "tidyverse" "stats"
[13] "graphics"  "grDevices" "utils"     "datasets"  "methods"   "base"

[[4]]
 [1] "showtext"   "showtextdb" "sysfonts"   "srvyr"      "lubridate"
 [6] "forcats"    "stringr"    "dplyr"      "purrr"      "readr"
[11] "tidyr"      "tibble"     "ggplot2"    "tidyverse"  "stats"
[16] "graphics"   "grDevices"  "utils"      "datasets"   "methods"
[21] "base"

[[5]]
 [1] "haven"      "showtext"   "showtextdb" "sysfonts"   "srvyr"
 [6] "lubridate"  "forcats"    "stringr"    "dplyr"      "purrr"
[11] "readr"      "tidyr"      "tibble"     "ggplot2"    "tidyverse"
[16] "stats"      "graphics"   "grDevices"  "utils"      "datasets"
[21] "methods"    "base"

[[6]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

[[7]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

In [2]:
#CONSIDERACIONES
#Tiempo de espera para la descarga
options(timeout = 8000)
#Fuente Roboto
font_add_google(name = "Roboto", family = "Roboto")
showtext_auto()

**Indicadores de educación**

*Tasa de cobertura bruta de educación media superior e inicial*

In [ ]:
#Carga datos de CONAPO
conapo<-read_csv("https://conapo.segob.gob.mx/work/models/CONAPO/Datos_Abiertos/pry23/00_Pob_Mitad_1950_2070.csv")%>%
  janitor::clean_names()|>
  filter(cve_geo==9)|>
group_by(ano,edad)|>
    summarise(poblacion= sum(poblacion))|>
mutate(tipo=case_when(edad>=15 & edad<=17 ~ "MEDIA SUPERIOR",
      edad>=0 & edad<=2 ~ "INICIAL PÚBLICO"))|> #"INICIAL CIUDAD DE MÉXICO"
filter(!is.na(tipo))|>
group_by(ano,tipo)|>
summarise(poblacion=sum(poblacion))

unique(conapo$tipo) # Verifica los tipos de educación
head(conapo)

Rows: 737660 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): ENTIDAD, SEXO
dbl (5): RENGLON, AÑO, CVE_GEO, EDAD, POBLACION

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
`summarise()` has grouped output by 'ano'. You can override using the `.groups`
argument.
`summarise()` has grouped output by 'ano'. You can override using the `.groups`
argument.

[1] "INICIAL PÚBLICO" "MEDIA SUPERIOR"

    ano  tipo            poblacion
1   1970 INICIAL PÚBLICO 799905
2   1970 MEDIA SUPERIOR  469921
3   1971 INICIAL PÚBLICO 811838
4   1971 MEDIA SUPERIOR  486252
5   1972 INICIAL PÚBLICO 819559
6   1972 MEDIA SUPERIOR  500791
7   1973 INICIAL PÚBLICO 827356
8   1973 MEDIA SUPERIOR  514108
9   1974 INICIAL PÚBLICO 833028
10  1974 MEDIA SUPERIOR  527779
11  1975 INICIAL PÚBLICO 838492
12  1975 MEDIA SUPERIOR  542201
13  1976 INICIAL PÚBLICO 839229
14  1976 MEDIA SUPERIOR  556638
15  1977 INICIAL PÚBLICO 831884
16  1977 MEDIA SUPERIOR  570265
17  1978 INICIAL PÚBLICO 821546
18  1978 MEDIA SUPERIOR  583087
19  1979 INICIAL PÚBLICO 811357
20  1979 MEDIA SUPERIOR  595318
21  1980 INICIAL PÚBLICO 797870
22  1980 MEDIA SUPERIOR  604186
23  1981 INICIAL PÚBLICO 779488
24  1981 MEDIA SUPERIOR  606855
25  1982 INICIAL PÚBLICO 759895
26  1982 MEDIA SUPERIOR  605781
27  1983 INICIAL PÚBLICO 739575
28  1983 MEDIA SUPERIOR  603998
29  1984 INICIAL PÚBLICO 718916
30  1984 MEDIA SUPERIOR  602013
⋮   ⋮    ⋮               ⋮
173 2056 INICIAL PÚBLICO 129281
174 2056 MEDIA SUPERIOR  164685
175 2057 INICIAL PÚBLICO 126446
176 2057 MEDIA SUPERIOR  160624
177 2058 INICIAL PÚBLICO 123696
178 2058 MEDIA SUPERIOR  156710
179 2059 INICIAL PÚBLICO 121032
180 2059 MEDIA SUPERIOR  152958
181 2060 INICIAL PÚBLICO 118448
182 2060 MEDIA SUPERIOR  149345
183 2061 INICIAL PÚBLICO 115929
184 2061 MEDIA SUPERIOR  145851
185 2062 INICIAL PÚBLICO 113468
186 2062 MEDIA SUPERIOR  142488
187 2063 INICIAL PÚBLICO 111063
188 2063 MEDIA SUPERIOR  139266
189 2064 INICIAL PÚBLICO 108710
190 2064 MEDIA SUPERIOR  136179
191 2065 INICIAL PÚBLICO 106403
192 2065 MEDIA SUPERIOR  133200
193 2066 INICIAL PÚBLICO 104142
194 2066 MEDIA SUPERIOR  130311
195 2067 INICIAL PÚBLICO 101926
196 2067 MEDIA SUPERIOR  127511
197 2068 INICIAL PÚBLICO  99750
198 2068 MEDIA SUPERIOR  124810
199 2069 INICIAL PÚBLICO  97614
200 2069 MEDIA SUPERIOR  122203
201 2070 INICIAL PÚBLICO  95520
202 2070 MEDIA SUPERIOR  119676

In [ ]:
##Leer datos de SEP
sep<-openxlsx::read.xlsx("https://www.planeacion.sep.gob.mx/Doc/estadistica_e_indicadores/serie_historica_entidades_sep.xlsm",sheet = 1)|>
janitor::clean_names()%>%
  { 
    colnames(.) <- as.character(.[2, ])
    .[-2, ]
  } |>
  as.data.frame()|>
janitor::clean_names()|>
  rename(entidad = 1,
         tipo= 3
         )|>
 filter(entidad=="9",
    tipo %in% c("MEDIA SUPERIOR" , "INICIAL PÚBLICO"))|> #"INICIAL CIUDAD DE MÉXICO"
#Eliminar columnas 1,2 y 4
select(-c(1,2,4))|>
#Llevar los datos a long
pivot_longer(cols = -c(tipo), names_to = "ciclo", values_to = "matricula")|>
#Eliminar x de ciclo
mutate(ciclo=str_replace(ciclo,"x",""),
#Seleccionar año inicial del ciclo
ano=as.numeric(str_sub(ciclo,1,4)),
matricula=as.numeric(matricula))|>
#Pegar con datos de CONAPO utilizando la variable tipo y ano
left_join(conapo,by=c("tipo","ano"))|>
#Calcular tasa de cobertura
mutate(tbcob=matricula/poblacion*100)

unique(sep$tipo)
head(sep)

[1] "INICIAL PÚBLICO" "MEDIA SUPERIOR"

   tipo            ciclo     matricula ano  poblacion tbcob
1  INICIAL PÚBLICO 1990_1991    NA     1990 571443          NA
2  INICIAL PÚBLICO 1991_1992    NA     1991 558938          NA
3  INICIAL PÚBLICO 1992_1993    NA     1992 549389          NA
4  INICIAL PÚBLICO 1993_1994    NA     1993 539694          NA
5  INICIAL PÚBLICO 1994_1995    NA     1994 528980          NA
6  INICIAL PÚBLICO 1995_1996    NA     1995 516994          NA
7  INICIAL PÚBLICO 1996_1997    NA     1996 504812          NA
8  INICIAL PÚBLICO 1997_1998    NA     1997 494056          NA
9  INICIAL PÚBLICO 1998_1999    NA     1998 485294          NA
10 INICIAL PÚBLICO 1999_2000    NA     1999 478946          NA
11 INICIAL PÚBLICO 2000_2001 35665     2000 474054    7.523405
12 INICIAL PÚBLICO 2001_2002 34637     2001 470967    7.354443
13 INICIAL PÚBLICO 2002_2003 34059     2002 468365    7.271893
14 INICIAL PÚBLICO 2003_2004 31349     2003 463628    6.761671
15 INICIAL PÚBLICO 2004_2005 25318     2004 457806    5.530290
16 INICIAL PÚBLICO 2005_2006 24736     2005 451245    5.481723
17 INICIAL PÚBLICO 2006_2007 21836     2006 445333    4.903297
18 INICIAL PÚBLICO 2007_2008 21404     2007 440599    4.857932
19 INICIAL PÚBLICO 2008_2009 20944     2008 435574    4.808368
20 INICIAL PÚBLICO 2009_2010 20314     2009 429762    4.726802
21 INICIAL PÚBLICO 2010_2011 19230     2010 425925    4.514879
22 INICIAL PÚBLICO 2011_2012 18854     2011 420544    4.483241
23 INICIAL PÚBLICO 2012_2013 18800     2012 410089    4.584371
24 INICIAL PÚBLICO 2013_2014 16501     2013 398333    4.142514
25 INICIAL PÚBLICO 2014_2015 17772     2014 386073    4.603275
26 INICIAL PÚBLICO 2015_2016 14557     2015 372480    3.908129
27 INICIAL PÚBLICO 2016_2017 14326     2016 359351    3.986631
28 INICIAL PÚBLICO 2017_2018 12843     2017 346981    3.701355
29 INICIAL PÚBLICO 2018_2019 13646     2018 333739    4.088824
30 INICIAL PÚBLICO 2019_2020 14053     2019 320780    4.380884
⋮  ⋮               ⋮         ⋮         ⋮    ⋮         ⋮
53 MEDIA SUPERIOR  2001_2002 410282    2001 480985     85.30037
54 MEDIA SUPERIOR  2002_2003 407508    2002 481295     84.66907
55 MEDIA SUPERIOR  2003_2004 395607    2003 480746     82.29023
56 MEDIA SUPERIOR  2004_2005 408361    2004 479435     85.17547
57 MEDIA SUPERIOR  2005_2006 408855    2005 478367     85.46890
58 MEDIA SUPERIOR  2006_2007 412678    2006 477050     86.50624
59 MEDIA SUPERIOR  2007_2008 423931    2007 474775     89.29093
60 MEDIA SUPERIOR  2008_2009 423849    2008 471007     89.98783
61 MEDIA SUPERIOR  2009_2010 436945    2009 464585     94.05060
62 MEDIA SUPERIOR  2010_2011 435581    2010 455813     95.56134
63 MEDIA SUPERIOR  2011_2012 438602    2011 446077     98.32428
64 MEDIA SUPERIOR  2012_2013 434551    2012 436200     99.62196
65 MEDIA SUPERIOR  2013_2014 457773    2013 427034    107.19826
66 MEDIA SUPERIOR  2014_2015 470877    2014 419610    112.21777
67 MEDIA SUPERIOR  2015_2016 473724    2015 416771    113.66530
68 MEDIA SUPERIOR  2016_2017 477251    2016 417262    114.37682
69 MEDIA SUPERIOR  2017_2018 476825    2017 416198    114.56686
70 MEDIA SUPERIOR  2018_2019 470568    2018 413239    113.87309
71 MEDIA SUPERIOR  2019_2020 466232    2019 409668    113.80728
72 MEDIA SUPERIOR  2020_2021 455030    2020 403534    112.76125
73 MEDIA SUPERIOR  2021_2022 460143    2021 395608    116.31287
74 MEDIA SUPERIOR  2022_2023 452717    2022 389088    116.35337
75 MEDIA SUPERIOR  2023_2024 449729    2023 383358    117.31306
76 MEDIA SUPERIOR  2024_2025 455885    2024 377919    120.63035
77 MEDIA SUPERIOR  2025_2026 462395    2025 372048    124.28369
78 MEDIA SUPERIOR  2026_2027 466141    2026 364634    127.83805
79 MEDIA SUPERIOR  2027_2028 469500    2027 355288    132.14632
80 MEDIA SUPERIOR  2028_2029 463680    2028 344849    134.45885
81 MEDIA SUPERIOR  2029_2030 450161    2029 334597    134.53827
82 MEDIA SUPERIOR  2030_2031 437327    2030 325265    134.45252

*Tasa de cobertura bruta de educación media superior*

In [132]:
#tasa de cobertura media superior
sep_med_sup<-sep|>
  filter(tipo=="MEDIA SUPERIOR")|>
  filter(ano>2019 &  ano < 2024)|>
  select(-tipo, -ciclo)

sep_med_sup

  matricula ano  poblacion tbcob
1 455030    2020 403534    112.7613
2 460143    2021 395608    116.3129
3 452717    2022 389088    116.3534
4 449729    2023 383358    117.3131

In [ ]:
#Metas establecidas por la SECTEI
cobertura <- data.frame(ano = c(2030, 2035, 2045), 
                        tbcob = c(119, 121, 125))

#TASAS GENERLES PARA CADA PERIODO
año_base <- sep_med_sup|>
  filter(ano == 2023)
#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-cobertura|>
filter(ano == 2030)
t2035<-cobertura|>
filter(ano == 2035)
t2045<-cobertura|>
filter(ano == 2045)

tc1= (t2030$tbcob / año_base$tbcob)^(1 / (2030 - 2023)) - 1
tc2= (t2035$tbcob / t2030$tbcob)^(1 / (2035 - 2030)) - 1
tc3= (t2045$tbcob / t2035$tbcob)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] 0.002041711

[1] 0.003338972

[1] 0.002170565

In [135]:
#Población de media superior conapo, años 2024 a 2045
proyecciones_med_sup <- data.frame(
  ano = 2024:2045) |>
  mutate(tbcob = ifelse(ano < 2030,año_base$tbcob * (1 + tc1)^(ano - año_base$ano),
                         ifelse(ano == 2030, t2030$tbcob,
                                ifelse(ano < 2035, t2030$tbcob * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$tbcob,
                                                ifelse(ano < 2045, t2035$tbcob * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$tbcob, 0)))))))


sep_med_sup_proy <- sep_med_sup |>
  select(ano, tbcob)|>
  bind_rows(proyecciones_med_sup)

sep_med_sup_proy

   ano  tbcob
1  2020 112.7613
2  2021 116.3129
3  2022 116.3534
4  2023 117.3131
5  2024 117.5526
6  2025 117.7926
7  2026 118.0331
8  2027 118.2741
9  2028 118.5156
10 2029 118.7575
11 2030 119.0000
12 2031 119.3973
13 2032 119.7960
14 2033 120.1960
15 2034 120.5973
16 2035 121.0000
17 2036 121.2626
18 2037 121.5258
19 2038 121.7896
20 2039 122.0540
21 2040 122.3189
22 2041 122.5844
23 2042 122.8505
24 2043 123.1171
25 2044 123.3844
26 2045 125.0000

*Tasa de cobertura bruta de educación inicial*

In [136]:
#tasa de cobertura media inicialerior
sep_inicial<-sep|>
  filter(tipo=="INICIAL PÚBLICO")
  
sep_inicial

   tipo            ciclo     matricula ano  poblacion tbcob
1  INICIAL PÚBLICO 1990_1991    NA     1990 571443          NA
2  INICIAL PÚBLICO 1991_1992    NA     1991 558938          NA
3  INICIAL PÚBLICO 1992_1993    NA     1992 549389          NA
4  INICIAL PÚBLICO 1993_1994    NA     1993 539694          NA
5  INICIAL PÚBLICO 1994_1995    NA     1994 528980          NA
6  INICIAL PÚBLICO 1995_1996    NA     1995 516994          NA
7  INICIAL PÚBLICO 1996_1997    NA     1996 504812          NA
8  INICIAL PÚBLICO 1997_1998    NA     1997 494056          NA
9  INICIAL PÚBLICO 1998_1999    NA     1998 485294          NA
10 INICIAL PÚBLICO 1999_2000    NA     1999 478946          NA
11 INICIAL PÚBLICO 2000_2001 35665     2000 474054    7.523405
12 INICIAL PÚBLICO 2001_2002 34637     2001 470967    7.354443
13 INICIAL PÚBLICO 2002_2003 34059     2002 468365    7.271893
14 INICIAL PÚBLICO 2003_2004 31349     2003 463628    6.761671
15 INICIAL PÚBLICO 2004_2005 25318     2004 457806    5.530290
16 INICIAL PÚBLICO 2005_2006 24736     2005 451245    5.481723
17 INICIAL PÚBLICO 2006_2007 21836     2006 445333    4.903297
18 INICIAL PÚBLICO 2007_2008 21404     2007 440599    4.857932
19 INICIAL PÚBLICO 2008_2009 20944     2008 435574    4.808368
20 INICIAL PÚBLICO 2009_2010 20314     2009 429762    4.726802
21 INICIAL PÚBLICO 2010_2011 19230     2010 425925    4.514879
22 INICIAL PÚBLICO 2011_2012 18854     2011 420544    4.483241
23 INICIAL PÚBLICO 2012_2013 18800     2012 410089    4.584371
24 INICIAL PÚBLICO 2013_2014 16501     2013 398333    4.142514
25 INICIAL PÚBLICO 2014_2015 17772     2014 386073    4.603275
26 INICIAL PÚBLICO 2015_2016 14557     2015 372480    3.908129
27 INICIAL PÚBLICO 2016_2017 14326     2016 359351    3.986631
28 INICIAL PÚBLICO 2017_2018 12843     2017 346981    3.701355
29 INICIAL PÚBLICO 2018_2019 13646     2018 333739    4.088824
30 INICIAL PÚBLICO 2019_2020 14053     2019 320780    4.380884
31 INICIAL PÚBLICO 2020_2021 10272     2020 307812    3.337102
32 INICIAL PÚBLICO 2021_2022  6635     2021 296657    2.236590
33 INICIAL PÚBLICO 2022_2023  8827     2022 289255    3.051633
34 INICIAL PÚBLICO 2023_2024 10236     2023 283980    3.604479
35 INICIAL PÚBLICO 2024_2025 10754     2024 278779    3.857536
36 INICIAL PÚBLICO 2025_2026 11090     2025 273253    4.058510
37 INICIAL PÚBLICO 2026_2027 11369     2026 267811    4.245158
38 INICIAL PÚBLICO 2027_2028 11609     2027 262340    4.425173
39 INICIAL PÚBLICO 2028_2029 11814     2028 256887    4.598909
40 INICIAL PÚBLICO 2029_2030 11997     2029 251429    4.771526
41 INICIAL PÚBLICO 2030_2031 12164     2030 245982    4.945077

In [ ]:
#Metas establecidas por la SECTEI
cobertura <- data.frame(
  ano = c(2030, 2035, 2045), 
  tbcob = c(1, 3, 5))

#TASAS GENERLES PARA CADA PERIODO
año_base <- sep_inicial|>
  filter(ano == 2023)
  
#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-cobertura|>
filter(ano == 2030)
t2035<-cobertura|>
filter(ano == 2035)
t2045<-cobertura|>
filter(ano == 2045)

tc1= (t2030$tbcob / año_base$tbcob)^(1 / (2030 - 2023)) - 1
tc2= (t2035$tbcob / t2030$tbcob)^(1 / (2035 - 2030)) - 1
tc3= (t2045$tbcob / t2035$tbcob)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

In [ ]:
#Proyecciones de la tasa de cobertura inicial, años 2024 a 2045
proyecciones_inicial <- data.frame(
  ano = 2024:2045) |>
  mutate(tbcob = ifelse(ano < 2030,año_base$tbcob * (1 + tc1)^(ano - año_base$ano),
                         ifelse(ano == 2030, t2030$tbcob,
                                ifelse(ano < 2035, t2030$tbcob * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$tbcob,
                                                ifelse(ano < 2045, t2035$tbcob * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$tbcob, 0)))))))


sep_med_inicial_proy <- sep_inicial |>
  select(ano, tbcob)|>
  bind_rows(proyecciones_med_inicial)

sep_inicial_proy

*Porcentaje de patentes solicitadas por personas mexicanas*

In [113]:
impi <- read_csv("https://datosabiertos.impi.gob.mx/IMPICifras/Invenciones03.csv", 
                 col_names = FALSE, show_col_types = FALSE)
# Procesar datos de IMPI
impi <- impi |>
  # Eliminar las primeras 4 filas y renombrar las columnas
  slice(5:n())|>                            
  set_names(as.character(impi[5, ])) |>     
  janitor::clean_names() |>                
  slice(-1)|>
rename(entidad=2)|>
filter(entidad=="Ciudad de México" | entidad=="Total / Total")|>
#Dejar columna entidad y todas aquellas que contengan "patentes"
select(entidad,contains("patentes"))|>
#Transformar columnas patentes a numérico
#Eliminar comas de los números
mutate(across(contains("patentes"), ~ as.numeric(str_replace_all(., ",", ""))) )|>
# #Calcular porcentaje de patentes
mutate(across(contains("patentes"), ~ . / .[entidad == "Total / Total"] * 100))|>
filter(entidad=="Ciudad de México")|>
# #Long
pivot_longer(cols = -entidad, names_to = "tipo", values_to = "porcentaje")|>
#Crear variable año de 1993 hasta que se terminan las columnas
mutate(ano = 1993:(1993 + n() - 1))|>
filter(ano < 2025)|>
select(ano, porcentaje)


impi

   ano  porcentaje
1  1993 48.82459
2  1994 42.36948
3  1995 46.06481
4  1996 40.67358
5  1997 37.61905
6  1998 40.17660
7  1999 40.21978
8  2000 38.97912
9  2001 40.44944
10 2002 39.16350
11 2003 35.68376
12 2004 31.68142
13 2005 36.30137
14 2006 31.53310
15 2007 34.16537
16 2008 31.97080
17 2009 28.34550
18 2010 33.75394
19 2011 29.01408
20 2012 33.04954
21 2013 31.95706
22 2014 27.17042
23 2015 26.90616
24 2016 23.51145
25 2017 24.96252
26 2018 22.18650
27 2019 22.60536
28 2020 19.43463
29 2021 17.54700
30 2022 22.17701
31 2023 20.65440
32 2024 20.47782

In [ ]:
#Metas establecidas por la SECTEI
porcentaje <- data.frame(
  ano = c(2030, 2035, 2045), 
  porcentaje = c(25, 30, 40))

#TASAS GENERLES PARA CADA PERIODO
año_base <- impi|>
  filter(ano == 2024)

#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-porcentaje|>
filter(ano == 2030)
t2035<-porcentaje|>
filter(ano == 2035)
t2045<-porcentaje|>
filter(ano == 2045)

tc1= (t2030$porcentaje / año_base$porcentaje)^(1 / (2030 - 2024)) - 1
tc2= (t2035$porcentaje / t2030$porcentaje)^(1 / (2035 - 2030)) - 1
tc3= (t2045$porcentaje / t2035$porcentaje)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] 0.03381476

[1] 0.03713729

[1] 0.0193639

In [145]:
#Proyecciones 
proyecciones_impi <- data.frame(
  ano = 2025:2045) |>
  mutate(porcentaje = ifelse(ano < 2030,año_base$porcentaje * (1 + tc1)^(ano - año_base$ano),
                         ifelse(ano == 2030, t2030$porcentaje,
                                ifelse(ano < 2035, t2030$porcentaje * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$porcentaje,
                                                ifelse(ano < 2045, t2035$porcentaje * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$porcentaje, 0)))))))


impi_proy <- impi |>
  bind_rows(proyecciones_impi)

impi_proy

   ano  porcentaje
1  1993 48.82459
2  1994 42.36948
3  1995 46.06481
4  1996 40.67358
5  1997 37.61905
6  1998 40.17660
7  1999 40.21978
8  2000 38.97912
9  2001 40.44944
10 2002 39.16350
11 2003 35.68376
12 2004 31.68142
13 2005 36.30137
14 2006 31.53310
15 2007 34.16537
16 2008 31.97080
17 2009 28.34550
18 2010 33.75394
19 2011 29.01408
20 2012 33.04954
21 2013 31.95706
22 2014 27.17042
23 2015 26.90616
24 2016 23.51145
25 2017 24.96252
26 2018 22.18650
27 2019 22.60536
28 2020 19.43463
29 2021 17.54700
30 2022 22.17701
31 2023 20.65440
32 2024 20.47782
33 2025 21.17027
34 2026 21.88614
35 2027 22.62621
36 2028 23.39131
37 2029 24.18228
38 2030 25.00000
39 2031 25.92843
40 2032 26.89134
41 2033 27.89002
42 2034 28.92578
43 2035 30.00000
44 2036 30.58092
45 2037 31.17308
46 2038 31.77672
47 2039 32.39204
48 2040 33.01927
49 2041 33.65865
50 2042 34.31042
51 2043 34.97480
52 2044 35.65205
53 2045 40.00000

*Porcentaje de población en pobreza por rezago educativo*

In [191]:
#Base de datos del Consejo de Evaluación de la Ciudad de México: Pobreza y Desigualdad
url <- "https://www.evalua.cdmx.gob.mx/storage/app/media/2024/die/2018-2022/NA/4-Cuadros%20MMIP%20Entidad%20Federativa%202018-2022.xlsx"
base_pobreza <- tempfile(fileext = ".xlsx")
download.file(url, base_pobreza, mode = "wb")
#Cargar la base de pobreza (Pobreza en Educación por entidad federativa)
pobreza_edu <- readxl::read_excel(base_pobreza, sheet = 8, skip = 8)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`
• `` -> `...15`
• `` -> `...16`
• `` -> `...17`
• `` -> `...18`
• `` -> `...19`
• `` -> `...20`
• `` -> `...21`
• `` -> `...22`
• `` -> `...23`
• `` -> `...24`
• `` -> `...25`
• `` -> `...26`
• `` -> `...27`
• `` -> `...28`
• `` -> `...29`
• `` -> `...30`
• `` -> `...31`
• `` -> `...32`
• `` -> `...33`
• `` -> `...34`
• `` -> `...35`
• `` -> `...36`
• `` -> `...37`
• `` -> `...38`
• `` -> `...39`
• `` -> `...40`
• `` -> `...41`
• `` -> `...42`
• `` -> `...43`
• `` -> `...44`
• `` -> `...45`
• `` -> `...46`
• `` -> `...47`
• `` -> `...48`
• `` -> `...49`
• `` -> `...50`
• `` -> `...51`
• `` -> `...52`
• `` -> `...53`
• `` -> `...54`
• `` -> `...55`
• `` -> `...56`
• `` -> `...57`
• `` -> `...58`
• `` -> `...59`
• `` -> `...60`
• `` -> `...61`
• `` -> `...62`
• `` -> `...63`
• `` -> `...64`
• `` -> `...65`
• `` -> `...66`
• `` -> `...67`

In [192]:
#Preprocesamiento de la tabla de pobreza (limpieza de encabezados)
#Construcción de los encabezados
#Primera fila de encabezados: Tipo de pobreza
header1 <- pobreza_edu[2, ] |> unlist(use.names = FALSE)
header1_filled <- data.frame(valor = header1) |>
  fill(valor, .direction = "down") |>
  pull(valor) 
#Segunda fila de encabezados: Tipo de valor si es absoluto o porcentaje
header2 <- pobreza_edu[3, ] |> unlist(use.names = FALSE)
header2_filled <- data.frame(valor = header2) |>
  fill(valor, .direction = "down") |>
  pull(valor)
# Asegurarse de que el primer valor no sea NA
if (is.na(header2_filled[1])) {
  header2_filled[1] <- "E"
}
#Tercer fila de encabezados: Año de la medición
header3 <- pobreza_edu[4, ] |> unlist(use.names = FALSE)
header3_filled <- data.frame(valor = header3) |>
  fill(valor, .direction = "down") |>
  pull(valor) 
# Asegurarse de que el primer valor no sea NA
if (is.na(header3_filled[1])) {
  header3_filled[1] <- "_"
}

#Combinar los encabezados para crear nombres de columnas únicos
nombres_col <- mapply(function(h1, h2, h3) {
  partes <- na.omit(c(h1, h2, h3))
  paste(partes, collapse = "_")
}, header1_filled, header2_filled, header3_filled)
#Eliminar las filas de encabezados
pobreza_edu <- pobreza_edu[-c(1:4), ]
#Renombrar las columnas de la tabla de pobreza
colnames(pobreza_edu) <- nombres_col
#Limpiar los nombres de las columnas
pobreza_edu <- pobreza_edu |>
  janitor::clean_names()|>
  select(entidades_federativas_e, pobreza_total2_porcentaje_2018, pobreza_total2_porcentaje_2020, pobreza_total2_porcentaje_2022)|>
  mutate(across(2:4, ~ as.numeric(str_replace_all(., ",", ""))))
  
#Seleccionamos las columnas de interes, en este caso los valores de pobreza total en porcentaje para los años 2018, 2020 y 2022
pobreza_edu <- pobreza_edu |>
  
  rename(`2018` = pobreza_total2_porcentaje_2018,
         `2020` = pobreza_total2_porcentaje_2020,
         `2022` = pobreza_total2_porcentaje_2022) |>
  filter(entidades_federativas_e == "Ciudad de México") |>
  pivot_longer(cols = c(`2018`, `2020`, `2022`),
               names_to = "ano",
               values_to = "porcentaje")

# Ver resultado
pobreza_edu<-pobreza_edu|>
  mutate(ano = as.numeric(ano)) |>
  select(ano, porcentaje)

pobreza_edu

  ano  porcentaje
1 2018 25.42980
2 2020 24.16627
3 2022 23.92191

In [194]:
#Metas establecidas por la SECTEI
porcentaje <- data.frame(
  ano = c(2030, 2035, 2045), 
  porcentaje = c(20, 17, 11))



#TASAS GENERLES PARA CADA PERIODO
año_base <- pobreza_edu|>
  filter(ano == 2022)

#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-porcentaje|>
filter(ano == 2030)
t2035<-porcentaje|>
filter(ano == 2035)
t2045<-porcentaje|>
filter(ano == 2045)

tc1= (t2030$porcentaje / año_base$porcentaje)^(1 / (2030 - 2022)) - 1
tc2= (t2035$porcentaje / t2030$porcentaje)^(1 / (2035 - 2030)) - 1
tc3= (t2045$porcentaje / t2035$porcentaje)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] -0.02213416

[1] -0.03198121

[1] -0.0425979

In [195]:
#Proyecciones 
proyecciones_pobreza_edu <- data.frame(
  ano = 2025:2045) |>
  mutate(porcentaje = ifelse(ano < 2030,año_base$porcentaje * (1 + tc1)^(ano - año_base$ano),
                         ifelse(ano == 2030, t2030$porcentaje,
                                ifelse(ano < 2035, t2030$porcentaje * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$porcentaje,
                                                ifelse(ano < 2045, t2035$porcentaje * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$porcentaje, 0)))))))


pobreza_edu_proy <- pobreza_edu |>
  bind_rows(proyecciones_pobreza_edu)

pobreza_edu_proy

   ano  porcentaje
1  2018 25.42980
2  2020 24.16627
3  2022 23.92191
4  2025 22.36833
5  2026 21.87323
6  2027 21.38908
7  2028 20.91565
8  2029 20.45270
9  2030 20.00000
10 2031 19.36038
11 2032 18.74121
12 2033 18.14184
13 2034 17.56164
14 2035 17.00000
15 2036 16.27584
16 2037 15.58252
17 2038 14.91874
18 2039 14.28323
19 2040 13.67479
20 2041 13.09228
21 2042 12.53457
22 2043 12.00063
23 2044 11.48943
24 2045 11.00000

*Porcentaje de población de 15 años y más en rezago educativo*

In [3]:
leer_rezago <- function(anio) { 
  # URLs de descarga para los años disponibles
  urls <- list(
    "2019" = "https://www.gob.mx/cms/uploads/attachment/file/976879/est_rez_2019_actualizado.xlsx", 
    "2020" = "https://www.gob.mx/cms/uploads/attachment/file/976878/est_rez_2020_actualizado.xlsx", 
    "2021" = "https://www.gob.mx/cms/uploads/attachment/file/976880/est_rez_2021_actualizado.xlsx", 
    "2022" = "https://www.gob.mx/cms/uploads/attachment/file/976881/est_rez_2022_actualizado.xlsx", 
    "2023" = "https://www.gob.mx/cms/uploads/attachment/file/976882/est_rez_2023_actualizado.xlsx", 
    "2024" = "https://www.gob.mx/cms/uploads/attachment/file/976883/est_rez_2024_actualizado.xlsx"
  )

  #  URL del año
  url <- urls[[as.character(anio)]]
  
  # Descargar el archivo y guardarlo en un archivo temporal
  archivo_temp <- tempfile(fileext = ".xlsx")
  download.file(url, destfile = archivo_temp, mode = "wb")
  
  # Leer el archivo desde la hoja especificada
  rez_edu <- readxl::read_excel(archivo_temp, skip = 8)|>
    janitor::clean_names()
  
  return(rez_edu)
}

In [ ]:
# Leer los datos de rezago 
rz2019 <- leer_rezago(2019)
rz2020 <- leer_rezago(2020)
rz2021 <- leer_rezago(2021)
rz2022 <- leer_rezago(2022)
rz2023 <- leer_rezago(2023)
rz2024 <- leer_rezago(2024)

New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`

In [209]:

rz2019 <- rz2019[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2019)|>
  select(ano,percent_18)

rz2020 <- rz2020[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2020)|>
  select(ano,percent_18)

rz2021 <- rz2021[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2021)|>
  select(ano,percent_18)

rz2022 <- rz2022[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2022)|>
  select(ano,percent_18)

rz2023 <- rz2023[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2023)|>
  select(ano,percent_18)

rz2024 <- rz2024[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2024)|>
  select(ano,percent_18)


rezago_educacion<-rz2019|>
  bind_rows(rz2020, rz2021, rz2022, rz2023, rz2024)|>  
  rename(porcentaje = percent_18)|>
  mutate(porcentaje = round(porcentaje, 1))

rezago_educacion

  ano  porcentaje
1 2019 18.0
2 2020 18.0
3 2021 17.8
4 2022 17.4
5 2023 16.9
6 2024 17.0

In [ ]:
#Metas establecidas por la SECTEI
porcentaje <- data.frame(
  ano = c(2030, 2035, 2045), 
  porcentaje = c(15, 13, 9))

#TASAS GENERLES PARA CADA PERIODO
año_base <- rezago_educacion|>
  filter(ano == 2024)

año_base

#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-porcentaje|>
filter(ano == 2030)
t2035<-porcentaje|>
filter(ano == 2035)
t2045<-porcentaje|>
filter(ano == 2045)

tc1= (t2030$porcentaje / año_base$porcentaje)^(1 / (2030 - 2024)) - 1
tc2= (t2035$porcentaje / t2030$porcentaje)^(1 / (2035 - 2030)) - 1
tc3= (t2045$porcentaje / t2035$porcentaje)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

  ano  porcentaje
1 2024 17

  ano  porcentaje
1 2030 15

[1] -0.02064445

[1] -0.02821449

[1] -0.03610458

In [215]:
#Proyecciones 
proyecciones_rezago_educacion <- data.frame(
  ano = 2025:2045) |>
  mutate(porcentaje = ifelse(ano < 2030,año_base$porcentaje * (1 + tc1)^(ano - año_base$ano),
                         ifelse(ano == 2030, t2030$porcentaje,
                                ifelse(ano < 2035, t2030$porcentaje * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$porcentaje,
                                                ifelse(ano < 2045, t2035$porcentaje * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$porcentaje, 0)))))))


rezago_educacion_proy <- rezago_educacion |>
  bind_rows(proyecciones_rezago_educacion)

rezago_educacion_proy

   ano  porcentaje
1  2019 18.000000
2  2020 18.000000
3  2021 17.800000
4  2022 17.400000
5  2023 16.900000
6  2024 17.000000
7  2025 16.649044
8  2026 16.305334
9  2027 15.968719
10 2028 15.639054
11 2029 15.316194
12 2030 15.000000
13 2031 14.576783
14 2032 14.165506
15 2033 13.765834
16 2034 13.377438
17 2035 13.000000
18 2036 12.530640
19 2037 12.078227
20 2038 11.642148
21 2039 11.221813
22 2040 10.816654
23 2041 10.426123
24 2042 10.049692
25 2043  9.686852
26 2044  9.337113
27 2045  9.000000

*Porcentaje de integrantes del SNII en áreas del conocimiento STEM*

In [3]:
leer_snii <- function(anio) {
  # URLs de descarga para los años disponibles
  urls <- list(
    "2018" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Investigadores_Vigentes_2018.xlsx",
    "2019" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Investigadores_Vigentes_2019.xlsx", 
    "2020" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Investigadores_Vigentes_2020.xlsx", 
    "2021" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Padron_de_Beneficiarios_2021.xlsx", 
    "2022" = "https://secihti.mx/wp-content/uploads/sni/padron_de_beneficiarios/2022/Padron_de_Beneficiarios_2022_actualizado_julio_2.xlsx", 
    "2023" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Investigadores_vigentes_2023.xlsx", 
    "2024" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Padron_de_Investigadores_Vigentes_2024.xlsx"
  )
  
  # Obtener URL correspondiente
  url <- urls[[as.character(anio)]]
  if (is.null(url)) stop("Año no disponible.")
  
  # Descargar archivo temporal
  archivo_temp <- tempfile(fileext = ".xlsx")
  download.file(url, destfile = archivo_temp, mode = "wb")
  
  # Leer según el año
  if (anio == 2022) {
    reg_snii <- readxl::read_excel(archivo_temp, sheet = 3, col_types = "text") |> 
      janitor::clean_names()
    
  } else if (anio %in% c(2023, 2024)) {
    reg_snii <- readxl::read_excel(archivo_temp, sheet = 4, col_types = "text") |> 
      janitor::clean_names()
    
  } else {
    hojas <- readxl::excel_sheets(archivo_temp)
    reg_snii <- lapply(hojas, function(hoja) {
      readxl::read_excel(archivo_temp, sheet = hoja, col_types = "text") |> 
        janitor::clean_names()
    }) |> 
      dplyr::bind_rows()
  }
  
  return(reg_snii)
}

In [4]:
#Leer las bases del SNI de los años 2018 a 2024
snii2018 <-leer_snii(2018)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VII.- INGENIERÍAS"))

snii2019 <-leer_snii(2019)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VII.- INGENIERÍAS"))
snii2020 <-leer_snii(2020)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VII.- INGENIERÍAS"))
snii2021 <-leer_snii(2021)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VII.- INGENIERÍAS"))
snii2022 <-leer_snii(2022)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VIII.- INGENIERÍAS Y DESARROLLO TECNOLÓGICO", 
                                      "Físico-Matemáticas y Ciencias de la Tierra", 
                                      "Medicina y Ciencias de la Salud",
                                      "Biología y Química"))

snii2023 <-leer_snii(2023)|>
  filter(area_del_conocimiento %in% c("FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "BIOLOGÍA Y QUÍMICA", 
                                      "MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "INGENIERÍAS Y DESARROLLO TECNOLÓGICO"))
snii2024 <-leer_snii(2024)|>
  filter(area_de_conocimiento %in% c("FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "BIOLOGÍA Y QUÍMICA", 
                                      "MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "INGENIERÍAS Y DESARROLLO TECNOLÓGICO"))

In [7]:
#Obtener los totales nacionales y de la Ciudad de México
snii2018_nac<-snii2018|>
  summarise(nacional = n())|>
  mutate(ano = 2018)

snii2018_nac

snii2019_nac<-snii2019|>
  summarise(nacional = n())|>
  mutate(ano = 2019)

snii2020_nac<-snii2020|>
  summarise(nacional = n())|>
  mutate(ano = 2020)

snii2021_nac<-snii2021|>
  summarise(nacional = n())|>
  mutate(ano = 2021)

snii2022_nac<-snii2022|>
  summarise(nacional = n())|>
  mutate(ano = 2022)

snii2023_nac<-snii2023|>
  summarise(nacional = n())|>
  mutate(ano = 2023)

snii2024_nac<-snii2024|>
  summarise(nacional = n())|>
  mutate(ano = 2024)

nacional_snii<-snii2018_nac|>
  bind_rows(snii2019_nac,snii2020_nac, snii2021_nac,snii2022_nac, snii2023_nac, snii2024_nac)

nacional_snii

snii2018_cdmx<-snii2018|>
  group_by(entidad_federativa)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2018)

snii2018_cdmx

snii2019_cdmx<-snii2019|>
  group_by(entidad_federativa)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2019)

snii2020_cdmx<-snii2020|>
  group_by(entidad_federativa)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2020)

snii2021_cdmx<-snii2021|>
  group_by(entidad_federativa)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2021)

snii2022_cdmx<-snii2022|>
  group_by(entidad_federativa_de_adscripcion)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa_de_adscripcion=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2022)

snii2023_cdmx<-snii2023|>
  group_by(entidad_federativa_de_adscripcion)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa_de_adscripcion=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2023)
         
snii2024_cdmx<-snii2024|>
  group_by(entidad_de_acreditacion)|>
  summarise(cdmx = n())|>
  filter(entidad_de_acreditacion=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2024)

cdmx_snii<-snii2018_cdmx|>
  bind_rows(snii2019_cdmx,snii2020_cdmx, snii2021_cdmx,snii2022_cdmx, snii2023_cdmx,snii2024_cdmx)|>
  select(ano, cdmx)

cdmx_snii

  nacional ano
1 16280    2018

  nacional ano
1 16280    2018
2 17243    2019
3 18445    2020
4 19343    2021
5 19554    2022
6 21702    2023
7 22414    2024

  entidad_federativa cdmx ano
1 CIUDAD DE MÉXICO   5217 2018

  ano  cdmx
1 2018 5217
2 2019 5297
3 2020 5427
4 2021 5594
5 2022 6645
6 2023 7903
7 2024 8063

In [8]:
#Porcentaje de integrantes del SNII en áreas del conocimiento STEM
porcentaje_part_snii<-nacional_snii|>
  left_join(cdmx_snii, by = "ano")|>
  mutate(porcentaje = (cdmx*100)/nacional)

porcentaje_part_snii

  nacional ano  cdmx porcentaje
1 16280    2018 5217 32.04545
2 17243    2019 5297 30.71971
3 18445    2020 5427 29.42261
4 19343    2021 5594 28.92002
5 19554    2022 6645 33.98282
6 21702    2023 7903 36.41600
7 22414    2024 8063 35.97305

In [9]:
#Metas establecidas por la SECTEI
porcentaje <- data.frame(
  ano = c(2030, 2035, 2045), 
  porcentaje = c(40, 44, 52))

#TASAS GENERLES PARA CADA PERIODO
año_base <- porcentaje_part_snii|>
  filter(ano == 2024)

#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-porcentaje|>
filter(ano == 2030)
t2035<-porcentaje|>
filter(ano == 2035)
t2045<-porcentaje|>
filter(ano == 2045)

tc1= (t2030$porcentaje / año_base$porcentaje)^(1 / (2030 - 2024)) - 1
tc2= (t2035$porcentaje / t2030$porcentaje)^(1 / (2035 - 2030)) - 1
tc3= (t2045$porcentaje / t2035$porcentaje)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] 0.01784219

[1] 0.01924488

[1] 0.01684572

In [11]:
#Proyecciones 
proyecciones_snii <- data.frame(
  ano = 2025:2045) |>
  mutate(porcentaje = ifelse(ano < 2030,año_base$porcentaje * (1 + tc1)^(ano - año_base$ano),
                         ifelse(ano == 2030, t2030$porcentaje,
                                ifelse(ano < 2035, t2030$porcentaje * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$porcentaje,
                                                ifelse(ano < 2045, t2035$porcentaje * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$porcentaje, 0)))))))


snii <- porcentaje_part_snii |>
  bind_rows(proyecciones_snii)|>
  select(ano, porcentaje)

snii

   ano  porcentaje
1  2018 32.04545
2  2019 30.71971
3  2020 29.42261
4  2021 28.92002
5  2022 33.98282
6  2023 36.41600
7  2024 35.97305
8  2025 36.61489
9  2026 37.26818
10 2027 37.93313
11 2028 38.60994
12 2029 39.29882
13 2030 40.00000
14 2031 40.76980
15 2032 41.55440
16 2033 42.35411
17 2034 43.16921
18 2035 44.00000
19 2036 44.74121
20 2037 45.49491
21 2038 46.26130
22 2039 47.04061
23 2040 47.83304
24 2041 48.63883
25 2042 49.45818
26 2043 50.29134
27 2044 51.13853
28 2045 52.00000