**Indicadores de Educación, Ciencia, Tecnología e Innovación**

In [36]:
#rm(list=ls()) #limpa el entorno de trabajo

#LIBRERIAS
libraries <- c("tidyverse",
               "readr", 
               "srvyr",
               "showtext", 
               "haven", 
               "openxlsx", 
               "tidyr")

installed_packages <- rownames(installed.packages())
libraries_to_install <- setdiff(libraries, installed_packages)

if (length(libraries_to_install) > 0) {
  install.packages(libraries_to_install)}

lapply(libraries, library, character.only = TRUE)

[[1]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

[[2]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

[[3]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

[[4]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

[[5]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

[[6]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

[[7]]
 [1] "openxlsx"   "haven"      "showtext"   "showtextdb" "sysfonts"
 [6] "srvyr"      "lubridate"  "forcats"    "stringr"    "dplyr"
[11] "purrr"      "readr"      "tidyr"      "tibble"     "ggplot2"
[16] "tidyverse"  "stats"      "graphics"   "grDevices"  "utils"
[21] "datasets"   "methods"    "base"

In [37]:
#CONSIDERACIONES
#Tiempo de espera para la descarga
options(timeout = 8000)
#Fuente Roboto
font_add_google(name = "Roboto", family = "Roboto")
showtext_auto()

**Indicadores de educación**

*Tasa de cobertura bruta de educación media superior e inicial*

In [38]:
#Carga datos de CONAPO
conapo<-read_csv("https://conapo.segob.gob.mx/work/models/CONAPO/Datos_Abiertos/pry23/00_Pob_Mitad_1950_2070.csv")%>%
  janitor::clean_names()|>
  filter(cve_geo==9)|>
group_by(ano,edad)|>
    summarise(poblacion= sum(poblacion))|>
mutate(tipo=case_when(edad>=15 & edad<=17 ~ "MEDIA SUPERIOR",
      edad>=0 & edad<=2 ~ "INICIAL CIUDAD DE MÉXICO"))|> #"INICIAL CIUDAD DE MÉXICO"
filter(!is.na(tipo))|>
group_by(ano,tipo)|>
summarise(poblacion=sum(poblacion))

unique(conapo$tipo) # Verifica los tipos de educación

Rows: 737660 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): ENTIDAD, SEXO
dbl (5): RENGLON, AÑO, CVE_GEO, EDAD, POBLACION

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
`summarise()` has grouped output by 'ano'. You can override using the `.groups`
argument.
`summarise()` has grouped output by 'ano'. You can override using the `.groups`
argument.

[1] "INICIAL CIUDAD DE MÉXICO" "MEDIA SUPERIOR"

In [39]:
##Leer datos de SEP
sep<-openxlsx::read.xlsx("https://www.planeacion.sep.gob.mx/Doc/estadistica_e_indicadores/serie_historica_entidades_sep.xlsm",sheet = 1)|>
janitor::clean_names()%>%
  { 
    colnames(.) <- as.character(.[2, ])
    .[-2, ]
  } |>
  as.data.frame()|>
janitor::clean_names()|>
  rename(entidad = 1,
         tipo= 3
         )|>
 filter(entidad=="9",
    tipo %in% c("MEDIA SUPERIOR" , "INICIAL CIUDAD DE MÉXICO"))|> #"INICIAL CIUDAD DE MÉXICO"
#Eliminar columnas 1,2 y 4
select(-c(1,2,4))|>
#Llevar los datos a long
pivot_longer(cols = -c(tipo), names_to = "ciclo", values_to = "matricula")|>
#Eliminar x de ciclo
mutate(ciclo=str_replace(ciclo,"x",""),
#Seleccionar año inicial del ciclo
ano=as.numeric(str_sub(ciclo,1,4)),
matricula=as.numeric(matricula))|>
#Pegar con datos de CONAPO utilizando la variable tipo y ano
left_join(conapo,by=c("tipo","ano"))|>
#Calcular tasa de cobertura
mutate(tbcob=matricula/poblacion*100)

unique(sep$tipo)

[1] "INICIAL CIUDAD DE MÉXICO" "MEDIA SUPERIOR"

*Tasa de cobertura bruta de educación media superior*

In [40]:
#tasa de cobertura media superior
sep_med_sup<-sep|>
  filter(tipo=="MEDIA SUPERIOR")|>
  filter(ano>2019 &  ano < 2024)|>
  select(-tipo, -ciclo)|>
mutate(tipo = "Observado")

sep_med_sup

  matricula ano  poblacion tbcob    tipo
1 455030    2020 403534    112.7613 Observado
2 460143    2021 395608    116.3129 Observado
3 452717    2022 389088    116.3534 Observado
4 449729    2023 383358    117.3131 Observado

In [ ]:

#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
#Metas establecidas por la SECTEI
cobertura <- data.frame(ano = c(2030, 2035, 2045), 
                        tbcob = c(119, 121, 125))
tcob_bse <- sep_med_sup|>
  filter(ano == 2023)
  t2030<-cobertura|>
filter(ano == 2030)
t2035<-cobertura|>
filter(ano == 2035)
t2045<-cobertura|>
filter(ano == 2045)

tc1= (t2030$tbcob / tcob_bse$tbcob)^(1 / (2030 - 2023)) - 1
tc2= (t2035$tbcob / t2030$tbcob)^(1 / (2035 - 2030)) - 1
tc3= (t2045$tbcob / t2035$tbcob)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] 0.01327849

[1] 0.002041711

[1] 0.003338972

[1] 0.003257614

In [ ]:
#Población de media superior conapo, años 2024 a 2045
proyecciones_med_sup <- data.frame(
  ano = 2024:2045) |>
  mutate(tbcob = ifelse(ano < 2030,tcob_bse$tbcob * (1 + tc1)^(ano - tcob_bse$ano),
                         ifelse(ano == 2030, t2030$tbcob,
                                ifelse(ano < 2035, t2030$tbcob * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$tbcob,
                                                ifelse(ano < 2045, t2035$tbcob * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$tbcob, 0)))))))|>
                                                       mutate(tipo = "Deseable")

In [ ]:
sep_med_sup_proy <- sep_med_sup |>
  select(ano, tipo, tbcob)|>
  bind_rows(proyecciones_med_sup)

  sep_med_sup_proy

   ano  tipo          tbcob
1  2020 Observado     112.7613
2  2021 Observado     116.3129
3  2022 Observado     116.3534
4  2023 Observado     117.3131
5  2024 Deseable      117.5526
6  2025 Deseable      117.7926
7  2026 Deseable      118.0331
8  2027 Deseable      118.2741
9  2028 Deseable      118.5156
10 2029 Deseable      118.7575
11 2030 Deseable      119.0000
12 2031 Deseable      119.3973
13 2032 Deseable      119.7960
14 2033 Deseable      120.1960
15 2034 Deseable      120.5973
16 2035 Deseable      121.0000
17 2036 Deseable      121.3942
18 2037 Deseable      121.7896
19 2038 Deseable      122.1864
20 2039 Deseable      122.5844
21 2040 Deseable      122.9837
22 2041 Deseable      123.3844
23 2042 Deseable      123.7863
24 2043 Deseable      124.1896
25 2044 Deseable      124.5941
26 2045 Deseable      125.0000
27 2024 Inercial      118.8700
28 2025 Inercial      120.4500
29 2026 Inercial      122.0500
30 2027 Inercial      123.6700
⋮  ⋮    ⋮             ⋮
41 2038 Inercial      142.98
42 2039 Inercial      144.88
43 2040 Inercial      146.80
44 2041 Inercial      148.75
45 2042 Inercial      150.73
46 2043 Inercial      152.73
47 2044 Inercial      154.76
48 2045 Inercial      156.81
49 2024 Transformador 119.11
50 2025 Transformador 120.93
51 2026 Transformador 122.77
52 2027 Transformador 124.65
53 2028 Transformador 126.55
54 2029 Transformador 128.49
55 2030 Transformador 130.45
56 2031 Transformador 132.44
57 2032 Transformador 134.47
58 2033 Transformador 136.52
59 2034 Transformador 138.61
60 2035 Transformador 140.72
61 2036 Transformador 142.87
62 2037 Transformador 145.06
63 2038 Transformador 147.27
64 2039 Transformador 149.52
65 2040 Transformador 151.81
66 2041 Transformador 154.13
67 2042 Transformador 156.48
68 2043 Transformador 158.87
69 2044 Transformador 161.30
70 2045 Transformador 163.76

*Tasa de cobertura bruta de educación inicial*

In [136]:
#tasa de cobertura media inicialerior
sep_inicial<-sep|>
  filter(tipo=="INICIAL PÚBLICO")
  
sep_inicial

   tipo            ciclo     matricula ano  poblacion tbcob
1  INICIAL PÚBLICO 1990_1991    NA     1990 571443          NA
2  INICIAL PÚBLICO 1991_1992    NA     1991 558938          NA
3  INICIAL PÚBLICO 1992_1993    NA     1992 549389          NA
4  INICIAL PÚBLICO 1993_1994    NA     1993 539694          NA
5  INICIAL PÚBLICO 1994_1995    NA     1994 528980          NA
6  INICIAL PÚBLICO 1995_1996    NA     1995 516994          NA
7  INICIAL PÚBLICO 1996_1997    NA     1996 504812          NA
8  INICIAL PÚBLICO 1997_1998    NA     1997 494056          NA
9  INICIAL PÚBLICO 1998_1999    NA     1998 485294          NA
10 INICIAL PÚBLICO 1999_2000    NA     1999 478946          NA
11 INICIAL PÚBLICO 2000_2001 35665     2000 474054    7.523405
12 INICIAL PÚBLICO 2001_2002 34637     2001 470967    7.354443
13 INICIAL PÚBLICO 2002_2003 34059     2002 468365    7.271893
14 INICIAL PÚBLICO 2003_2004 31349     2003 463628    6.761671
15 INICIAL PÚBLICO 2004_2005 25318     2004 457806    5.530290
16 INICIAL PÚBLICO 2005_2006 24736     2005 451245    5.481723
17 INICIAL PÚBLICO 2006_2007 21836     2006 445333    4.903297
18 INICIAL PÚBLICO 2007_2008 21404     2007 440599    4.857932
19 INICIAL PÚBLICO 2008_2009 20944     2008 435574    4.808368
20 INICIAL PÚBLICO 2009_2010 20314     2009 429762    4.726802
21 INICIAL PÚBLICO 2010_2011 19230     2010 425925    4.514879
22 INICIAL PÚBLICO 2011_2012 18854     2011 420544    4.483241
23 INICIAL PÚBLICO 2012_2013 18800     2012 410089    4.584371
24 INICIAL PÚBLICO 2013_2014 16501     2013 398333    4.142514
25 INICIAL PÚBLICO 2014_2015 17772     2014 386073    4.603275
26 INICIAL PÚBLICO 2015_2016 14557     2015 372480    3.908129
27 INICIAL PÚBLICO 2016_2017 14326     2016 359351    3.986631
28 INICIAL PÚBLICO 2017_2018 12843     2017 346981    3.701355
29 INICIAL PÚBLICO 2018_2019 13646     2018 333739    4.088824
30 INICIAL PÚBLICO 2019_2020 14053     2019 320780    4.380884
31 INICIAL PÚBLICO 2020_2021 10272     2020 307812    3.337102
32 INICIAL PÚBLICO 2021_2022  6635     2021 296657    2.236590
33 INICIAL PÚBLICO 2022_2023  8827     2022 289255    3.051633
34 INICIAL PÚBLICO 2023_2024 10236     2023 283980    3.604479
35 INICIAL PÚBLICO 2024_2025 10754     2024 278779    3.857536
36 INICIAL PÚBLICO 2025_2026 11090     2025 273253    4.058510
37 INICIAL PÚBLICO 2026_2027 11369     2026 267811    4.245158
38 INICIAL PÚBLICO 2027_2028 11609     2027 262340    4.425173
39 INICIAL PÚBLICO 2028_2029 11814     2028 256887    4.598909
40 INICIAL PÚBLICO 2029_2030 11997     2029 251429    4.771526
41 INICIAL PÚBLICO 2030_2031 12164     2030 245982    4.945077

In [ ]:
#Metas establecidas por la SECTEI
cobertura <- data.frame(
  ano = c(2030, 2035, 2045), 
  tbcob = c(1, 3, 5))

#TASAS GENERLES PARA CADA PERIODO
año_base <- sep_inicial|>
  filter(ano == 2023)
  
#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-cobertura|>
filter(ano == 2030)
t2035<-cobertura|>
filter(ano == 2035)
t2045<-cobertura|>
filter(ano == 2045)

tc1= (t2030$tbcob / año_base$tbcob)^(1 / (2030 - 2023)) - 1
tc2= (t2035$tbcob / t2030$tbcob)^(1 / (2035 - 2030)) - 1
tc3= (t2045$tbcob / t2035$tbcob)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

In [ ]:
#Proyecciones de la tasa de cobertura inicial, años 2024 a 2045
proyecciones_inicial <- data.frame(
  ano = 2024:2045) |>
  mutate(tbcob = ifelse(ano < 2030,año_base$tbcob * (1 + tc1)^(ano - año_base$ano),
                         ifelse(ano == 2030, t2030$tbcob,
                                ifelse(ano < 2035, t2030$tbcob * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$tbcob,
                                                ifelse(ano < 2045, t2035$tbcob * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$tbcob, 0)))))))


sep_med_inicial_proy <- sep_inicial |>
  select(ano, tbcob)|>
  bind_rows(proyecciones_med_inicial)

sep_inicial_proy

*Porcentaje de patentes solicitadas por personas mexicanas*

In [63]:
impi <- read_csv("https://datosabiertos.impi.gob.mx/IMPICifras/Invenciones03.csv", 
                 col_names = FALSE, show_col_types = FALSE)
# Procesar datos de IMPI
impi <- impi |>
  # Eliminar las primeras 4 filas y renombrar las columnas
  slice(5:n())|>                            
  set_names(as.character(impi[5, ])) |>     
  janitor::clean_names() |>                
  slice(-1)|>
rename(entidad=2)|>
filter(entidad=="Ciudad de México" | entidad=="Total / Total")|>
#Dejar columna entidad y todas aquellas que contengan "patentes"
select(entidad,contains("patentes"))|>
#Transformar columnas patentes a numérico
#Eliminar comas de los números
mutate(across(contains("patentes"), ~ as.numeric(str_replace_all(., ",", ""))) )|>
# #Calcular porcentaje de patentes
mutate(across(contains("patentes"), ~ . / .[entidad == "Total / Total"] * 100))|>
filter(entidad=="Ciudad de México")|>
# #Long
pivot_longer(cols = -entidad, names_to = "tipo", values_to = "porcentaje")|>
#Crear variable año de 1993 hasta que se terminan las columnas
mutate(ano = 1993:(1993 + n() - 1))|>
filter(ano < 2025)|>
select(ano, porcentaje)|>
mutate(tipo = "Observado")


impi

   ano  porcentaje tipo
1  1993 48.82459   Observado
2  1994 42.36948   Observado
3  1995 46.06481   Observado
4  1996 40.67358   Observado
5  1997 37.61905   Observado
6  1998 40.17660   Observado
7  1999 40.21978   Observado
8  2000 38.97912   Observado
9  2001 40.44944   Observado
10 2002 39.16350   Observado
11 2003 35.68376   Observado
12 2004 31.68142   Observado
13 2005 36.30137   Observado
14 2006 31.53310   Observado
15 2007 34.16537   Observado
16 2008 31.97080   Observado
17 2009 28.34550   Observado
18 2010 33.75394   Observado
19 2011 29.01408   Observado
20 2012 33.04954   Observado
21 2013 31.95706   Observado
22 2014 27.17042   Observado
23 2015 26.90616   Observado
24 2016 23.51145   Observado
25 2017 24.96252   Observado
26 2018 22.18650   Observado
27 2019 22.60536   Observado
28 2020 19.43463   Observado
29 2021 17.54700   Observado
30 2022 22.17701   Observado
31 2023 20.65440   Observado
32 2024 20.47782   Observado

In [ ]:

#Metas establecidas por la SECTEI
porcentaje <- data.frame(
  ano = c(2030, 2035, 2045), 
  porcentaje = c(25, 30, 40))

#TASAS GENERLES PARA CADA PERIODO
año_bse <- impi|>
  filter(ano == 2024)
#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-porcentaje|>
filter(ano == 2030)
t2035<-porcentaje|>
filter(ano == 2035)
t2045<-porcentaje|>
filter(ano == 2045)

tc1= (t2030$porcentaje / año_bse$porcentaje)^(1 / (2030 - 2024)) - 1
tc2= (t2035$porcentaje / t2030$porcentaje)^(1 / (2035 - 2030)) - 1
tc3= (t2045$porcentaje / t2035$porcentaje)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] 0.01315722

[1] 0.03381476

[1] 0.03713729

[1] 0.02918601

In [ ]:
#Proyecciones 
proyecciones_impi <- data.frame(
  ano = 2025:2045) |>
  mutate(porcentaje = ifelse(ano < 2030,año_bse$porcentaje * (1 + tc1)^(ano - año_bse$ano),
                         ifelse(ano == 2030, t2030$porcentaje,
                                ifelse(ano < 2035, t2030$porcentaje * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$porcentaje,
                                                ifelse(ano < 2045, t2035$porcentaje * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$porcentaje, 0)))))),
          tipo = "Deseable")

									   
impi_proy <- impi |>
  select(ano, tipo, porcentaje)|>
  bind_rows(proyecciones_impi)

  impi_proy

   ano  tipo          porcentaje
1  1993 Observado     48.82459
2  1994 Observado     42.36948
3  1995 Observado     46.06481
4  1996 Observado     40.67358
5  1997 Observado     37.61905
6  1998 Observado     40.17660
7  1999 Observado     40.21978
8  2000 Observado     38.97912
9  2001 Observado     40.44944
10 2002 Observado     39.16350
11 2003 Observado     35.68376
12 2004 Observado     31.68142
13 2005 Observado     36.30137
14 2006 Observado     31.53310
15 2007 Observado     34.16537
16 2008 Observado     31.97080
17 2009 Observado     28.34550
18 2010 Observado     33.75394
19 2011 Observado     29.01408
20 2012 Observado     33.04954
21 2013 Observado     31.95706
22 2014 Observado     27.17042
23 2015 Observado     26.90616
24 2016 Observado     23.51145
25 2017 Observado     24.96252
26 2018 Observado     22.18650
27 2019 Observado     22.60536
28 2020 Observado     19.43463
29 2021 Observado     17.54700
30 2022 Observado     22.17701
⋮  ⋮    ⋮             ⋮
68 2038 Inercial      24.59
69 2039 Inercial      24.91
70 2040 Inercial      25.24
71 2041 Inercial      25.57
72 2042 Inercial      25.91
73 2043 Inercial      26.25
74 2044 Inercial      26.60
75 2045 Inercial      26.95
76 2024 Transformador 20.48
77 2025 Transformador 21.29
78 2026 Transformador 22.13
79 2027 Transformador 23.00
80 2028 Transformador 23.91
81 2029 Transformador 24.85
82 2030 Transformador 25.83
83 2031 Transformador 26.85
84 2032 Transformador 27.91
85 2033 Transformador 29.01
86 2034 Transformador 30.16
87 2035 Transformador 31.35
88 2036 Transformador 32.59
89 2037 Transformador 33.87
90 2038 Transformador 35.21
91 2039 Transformador 36.60
92 2040 Transformador 38.04
93 2041 Transformador 39.55
94 2042 Transformador 41.11
95 2043 Transformador 42.73
96 2044 Transformador 44.42
97 2045 Transformador 46.17

*Porcentaje de población en pobreza por rezago educativo*

In [87]:
#Base de datos del Consejo de Evaluación de la Ciudad de México: Pobreza y Desigualdad
url <- "https://www.evalua.cdmx.gob.mx/storage/app/media/2024/die/2018-2022/NA/4-Cuadros%20MMIP%20Entidad%20Federativa%202018-2022.xlsx"
base_pobreza <- tempfile(fileext = ".xlsx")
download.file(url, base_pobreza, mode = "wb")
#Cargar la base de pobreza (Pobreza en Educación por entidad federativa)
pobreza_edu <- readxl::read_excel(base_pobreza, sheet = 8, skip = 8)

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`
• `` -> `...15`
• `` -> `...16`
• `` -> `...17`
• `` -> `...18`
• `` -> `...19`
• `` -> `...20`
• `` -> `...21`
• `` -> `...22`
• `` -> `...23`
• `` -> `...24`
• `` -> `...25`
• `` -> `...26`
• `` -> `...27`
• `` -> `...28`
• `` -> `...29`
• `` -> `...30`
• `` -> `...31`
• `` -> `...32`
• `` -> `...33`
• `` -> `...34`
• `` -> `...35`
• `` -> `...36`
• `` -> `...37`
• `` -> `...38`
• `` -> `...39`
• `` -> `...40`
• `` -> `...41`
• `` -> `...42`
• `` -> `...43`
• `` -> `...44`
• `` -> `...45`
• `` -> `...46`
• `` -> `...47`
• `` -> `...48`
• `` -> `...49`
• `` -> `...50`
• `` -> `...51`
• `` -> `...52`
• `` -> `...53`
• `` -> `...54`
• `` -> `...55`
• `` -> `...56`
• `` -> `...57`
• `` -> `...58`
• `` -> `...59`
• `` -> `...60`
• `` -> `...61`
• `` -> `...62`
• `` -> `...63`
• `` -> `...64`
• `` -> `...65`
• `` -> `...66`
• `` -> `...67`

In [88]:
#Preprocesamiento de la tabla de pobreza (limpieza de encabezados)
#Construcción de los encabezados
#Primera fila de encabezados: Tipo de pobreza
header1 <- pobreza_edu[2, ] |> unlist(use.names = FALSE)
header1_filled <- data.frame(valor = header1) |>
  fill(valor, .direction = "down") |>
  pull(valor) 
#Segunda fila de encabezados: Tipo de valor si es absoluto o porcentaje
header2 <- pobreza_edu[3, ] |> unlist(use.names = FALSE)
header2_filled <- data.frame(valor = header2) |>
  fill(valor, .direction = "down") |>
  pull(valor)
# Asegurarse de que el primer valor no sea NA
if (is.na(header2_filled[1])) {
  header2_filled[1] <- "E"
}
#Tercer fila de encabezados: Año de la medición
header3 <- pobreza_edu[4, ] |> unlist(use.names = FALSE)
header3_filled <- data.frame(valor = header3) |>
  fill(valor, .direction = "down") |>
  pull(valor) 
# Asegurarse de que el primer valor no sea NA
if (is.na(header3_filled[1])) {
  header3_filled[1] <- "_"
}

#Combinar los encabezados para crear nombres de columnas únicos
nombres_col <- mapply(function(h1, h2, h3) {
  partes <- na.omit(c(h1, h2, h3))
  paste(partes, collapse = "_")
}, header1_filled, header2_filled, header3_filled)
#Eliminar las filas de encabezados
pobreza_edu <- pobreza_edu[-c(1:4), ]
#Renombrar las columnas de la tabla de pobreza
colnames(pobreza_edu) <- nombres_col
#Limpiar los nombres de las columnas
pobreza_edu <- pobreza_edu |>
  janitor::clean_names()|>
  select(entidades_federativas_e, pobreza_total2_porcentaje_2018, pobreza_total2_porcentaje_2020, pobreza_total2_porcentaje_2022)|>
  mutate(across(2:4, ~ as.numeric(str_replace_all(., ",", ""))))
  
#Seleccionamos las columnas de interes, en este caso los valores de pobreza total en porcentaje para los años 2018, 2020 y 2022
pobreza_edu <- pobreza_edu |>
  
  rename(`2018` = pobreza_total2_porcentaje_2018,
         `2020` = pobreza_total2_porcentaje_2020,
         `2022` = pobreza_total2_porcentaje_2022) |>
  filter(entidades_federativas_e == "Ciudad de México") |>
  pivot_longer(cols = c(`2018`, `2020`, `2022`),
               names_to = "ano",
               values_to = "porcentaje")

# Ver resultado
pobreza_edu<-pobreza_edu|>
  mutate(ano = as.numeric(ano)) |>
  select(ano, porcentaje)|>
  mutate(tipo = "Observado")

pobreza_edu

  ano  porcentaje tipo
1 2018 25.42980   Observado
2 2020 24.16627   Observado
3 2022 23.92191   Observado

In [ ]:

#Metas establecidas por la SECTEI
porcentaje <- data.frame(
  ano = c(2030, 2035, 2045), 
  porcentaje = c(20, 17, 11))
#TASAS GENERLES PARA CADA PERIODO
año_bse <- pobreza_edu|>
  filter(ano == 2022)

#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-porcentaje|>
filter(ano == 2030)
t2035<-porcentaje|>
filter(ano == 2035)
t2045<-porcentaje|>
filter(ano == 2045)

tc1= (t2030$porcentaje / año_bse$porcentaje)^(1 / (2030 - 2022)) - 1
tc2= (t2035$porcentaje / t2030$porcentaje)^(1 / (2035 - 2030)) - 1
tc3= (t2045$porcentaje / t2035$porcentaje)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] -0.005068718

[1] -0.02213416

[1] -0.03198121

[1] -0.0425979

In [ ]:
#Proyecciones 
proyecciones_pobreza_edu <- data.frame(
  ano = 2025:2045) |>
  mutate(porcentaje = ifelse(ano < 2030,año_bse$porcentaje * (1 + tc1)^(ano - año_bse$ano),
                         ifelse(ano == 2030, t2030$porcentaje,
                                ifelse(ano < 2035, t2030$porcentaje * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$porcentaje,
                                                ifelse(ano < 2045, t2035$porcentaje * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$porcentaje, 0)))))), 
        tipo = "Deseable")
									   
									   
pobreza_edu_proy <- pobreza_edu |>
  select(ano, tipo, porcentaje)|>
  bind_rows(proyecciones_pobreza_edu)

  pobreza_edu_proy

   ano  tipo          porcentaje
1  2018 Observado     25.42980
2  2020 Observado     24.16627
3  2022 Observado     23.92191
4  2025 Deseable      22.36833
5  2026 Deseable      21.87323
6  2027 Deseable      21.38908
7  2028 Deseable      20.91565
8  2029 Deseable      20.45270
9  2030 Deseable      20.00000
10 2031 Deseable      19.36038
11 2032 Deseable      18.74121
12 2033 Deseable      18.14184
13 2034 Deseable      17.56164
14 2035 Deseable      17.00000
15 2036 Deseable      16.27584
16 2037 Deseable      15.58252
17 2038 Deseable      14.91874
18 2039 Deseable      14.28323
19 2040 Deseable      13.67479
20 2041 Deseable      13.09228
21 2042 Deseable      12.53457
22 2043 Deseable      12.00063
23 2044 Deseable      11.48943
24 2045 Deseable      11.00000
25 2022 Inercial      23.92000
26 2023 Inercial      23.80000
27 2024 Inercial      23.68000
28 2025 Inercial      23.56000
29 2026 Inercial      23.44000
30 2027 Inercial      23.32000
⋮  ⋮    ⋮             ⋮
43 2040 Inercial      21.83
44 2041 Inercial      21.72
45 2042 Inercial      21.61
46 2043 Inercial      21.50
47 2044 Inercial      21.39
48 2045 Inercial      21.28
49 2022 Transformador 23.92
50 2023 Transformador 22.83
51 2024 Transformador 21.79
52 2025 Transformador 20.80
53 2026 Transformador 19.85
54 2027 Transformador 18.94
55 2028 Transformador 18.08
56 2029 Transformador 17.25
57 2030 Transformador 16.47
58 2031 Transformador 15.71
59 2032 Transformador 15.00
60 2033 Transformador 14.31
61 2034 Transformador 13.66
62 2035 Transformador 13.04
63 2036 Transformador 12.44
64 2037 Transformador 11.87
65 2038 Transformador 11.33
66 2039 Transformador 10.82
67 2040 Transformador 10.32
68 2041 Transformador  9.85
69 2042 Transformador  9.40
70 2043 Transformador  8.97
71 2044 Transformador  8.56
72 2045 Transformador  8.17

*Porcentaje de población de 15 años y más en rezago educativo*

In [111]:
leer_rezago <- function(anio) { 
  # URLs de descarga para los años disponibles
  urls <- list(
    "2019" = "https://www.gob.mx/cms/uploads/attachment/file/976879/est_rez_2019_actualizado.xlsx", 
    "2020" = "https://www.gob.mx/cms/uploads/attachment/file/976878/est_rez_2020_actualizado.xlsx", 
    "2021" = "https://www.gob.mx/cms/uploads/attachment/file/976880/est_rez_2021_actualizado.xlsx", 
    "2022" = "https://www.gob.mx/cms/uploads/attachment/file/976881/est_rez_2022_actualizado.xlsx", 
    "2023" = "https://www.gob.mx/cms/uploads/attachment/file/976882/est_rez_2023_actualizado.xlsx", 
    "2024" = "https://www.gob.mx/cms/uploads/attachment/file/976883/est_rez_2024_actualizado.xlsx"
  )

  #  URL del año
  url <- urls[[as.character(anio)]]
  
  # Descargar el archivo y guardarlo en un archivo temporal
  archivo_temp <- tempfile(fileext = ".xlsx")
  download.file(url, destfile = archivo_temp, mode = "wb")
  
  # Leer el archivo desde la hoja especificada
  rez_edu <- readxl::read_excel(archivo_temp, skip = 8)|>
    janitor::clean_names()
  
  return(rez_edu)
}

In [115]:
# Leer los datos de rezago 
rz2019 <- leer_rezago(2019)
rz2020 <- leer_rezago(2020)
rz2021 <- leer_rezago(2021)
rz2022 <- leer_rezago(2022)
rz2023 <- leer_rezago(2023)
rz2024 <- leer_rezago(2024)

New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`
New names:
• `` -> `...2`
• `Lugar` -> `Lugar...5`
• `%` -> `%...6`
• `Lugar` -> `Lugar...7`
• `Lugar` -> `Lugar...9`
• `%` -> `%...10`
• `Lugar` -> `Lugar...11`
• `Lugar` -> `Lugar...13`
• `%` -> `%...14`
• `Lugar` -> `Lugar...15`
• `Lugar` -> `Lugar...17`
• `%` -> `%...18`
• `Lugar` -> `Lugar...19`

In [116]:

rz2019 <- rz2019[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2019)|>
  select(ano,percent_18)

rz2020 <- rz2020[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2020)|>
  select(ano,percent_18)

rz2021 <- rz2021[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2021)|>
  select(ano,percent_18)

rz2022 <- rz2022[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2022)|>
  select(ano,percent_18)

rz2023 <- rz2023[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2023)|>
  select(ano,percent_18)

rz2024 <- rz2024[-1,-1]|>
  rename(Entidad = x2)|>
  filter(Entidad == "Ciudad de México")|>
  mutate(ano = 2024)|>
  select(ano,percent_18)


rezago_educacion<-rz2019|>
  bind_rows(rz2020, rz2021, rz2022, rz2023, rz2024)|>  
  rename(porcentaje = percent_18)|>
  mutate(porcentaje = round(porcentaje, 1),
          tipo = "Observado")

rezago_educacion

  ano  porcentaje tipo
1 2019 18.0       Observado
2 2020 18.0       Observado
3 2021 17.8       Observado
4 2022 17.4       Observado
5 2023 16.9       Observado
6 2024 17.0       Observado

In [142]:

#Metas establecidas por la SECTEI
porcentaje <- data.frame(
  ano = c(2030, 2035, 2045), 
  porcentaje = c(15, 13, 9))
#TASAS GENERLES PARA CADA PERIODO
año_bse <- rezago_educacion|>
  filter(ano == 2024)

#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-porcentaje|>
filter(ano == 2030)
t2035<-porcentaje|>
filter(ano == 2035)
t2045<-porcentaje|>
filter(ano == 2045)

tc1= (t2030$porcentaje / año_bse$porcentaje)^(1 / (2030 - 2024)) - 1
tc2= (t2035$porcentaje / t2030$porcentaje)^(1 / (2035 - 2030)) - 1
tc3= (t2045$porcentaje / t2035$porcentaje)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] -0.02064445

[1] -0.02821449

[1] -0.03610458

In [ ]:
#Proyecciones 
proyecciones_rezago_educacion <- data.frame(
  ano = 2025:2045) |>
  mutate(porcentaje = ifelse(ano < 2030,año_bse$porcentaje * (1 + tc1)^(ano - año_bse$ano),
                         ifelse(ano == 2030, t2030$porcentaje,
                                ifelse(ano < 2035, t2030$porcentaje * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$porcentaje,
                                                ifelse(ano < 2045, t2035$porcentaje * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$porcentaje, 0)))))), 
          tipo = "Deseable")

									   
rezago_educacion_proy <- rezago_educacion |>
  select(ano, tipo, porcentaje)|>
  bind_rows(proyecciones_rezago_educacion)

rezago_educacion_proy

   ano  tipo          porcentaje
1  2019 Observado     18.000000
2  2020 Observado     18.000000
3  2021 Observado     17.800000
4  2022 Observado     17.400000
5  2023 Observado     16.900000
6  2024 Observado     17.000000
7  2025 Deseable      16.649044
8  2026 Deseable      16.305334
9  2027 Deseable      15.968719
10 2028 Deseable      15.639054
11 2029 Deseable      15.316194
12 2030 Deseable      15.000000
13 2031 Deseable      14.576783
14 2032 Deseable      14.165506
15 2033 Deseable      13.765834
16 2034 Deseable      13.377438
17 2035 Deseable      13.000000
18 2036 Deseable      12.530640
19 2037 Deseable      12.078227
20 2038 Deseable      11.642148
21 2039 Deseable      11.221813
22 2040 Deseable      10.816654
23 2041 Deseable      10.426123
24 2042 Deseable      10.049692
25 2043 Deseable       9.686852
26 2044 Deseable       9.337113
27 2045 Deseable       9.000000
28 2024 Inercial      17.000000
29 2025 Inercial      16.760000
30 2026 Inercial      16.520000
⋮  ⋮    ⋮             ⋮
42 2038 Inercial      13.92
43 2039 Inercial      13.72
44 2040 Inercial      13.53
45 2041 Inercial      13.33
46 2042 Inercial      13.14
47 2043 Inercial      12.96
48 2044 Inercial      12.77
49 2045 Inercial      12.59
50 2024 Transformador 17.00
51 2025 Transformador 16.04
52 2026 Transformador 15.13
53 2027 Transformador 14.27
54 2028 Transformador 13.46
55 2029 Transformador 12.69
56 2030 Transformador 11.97
57 2031 Transformador 11.29
58 2032 Transformador 10.65
59 2033 Transformador 10.05
60 2034 Transformador  9.48
61 2035 Transformador  8.94
62 2036 Transformador  8.43
63 2037 Transformador  7.95
64 2038 Transformador  7.50
65 2039 Transformador  7.08
66 2040 Transformador  6.68
67 2041 Transformador  6.30
68 2042 Transformador  5.94
69 2043 Transformador  5.60
70 2044 Transformador  5.28
71 2045 Transformador  4.98

*Porcentaje de integrantes del SNII en áreas del conocimiento STEM*

In [131]:
leer_snii <- function(anio) {
  # URLs de descarga para los años disponibles
  urls <- list(
    "2018" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Investigadores_Vigentes_2018.xlsx",
    "2019" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Investigadores_Vigentes_2019.xlsx", 
    "2020" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Investigadores_Vigentes_2020.xlsx", 
    "2021" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Padron_de_Beneficiarios_2021.xlsx", 
    "2022" = "https://secihti.mx/wp-content/uploads/sni/padron_de_beneficiarios/2022/Padron_de_Beneficiarios_2022_actualizado_julio_2.xlsx", 
    "2023" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Investigadores_vigentes_2023.xlsx", 
    "2024" = "https://secihti.mx/wp-content/uploads/sni/archivo_historico/Padron_de_Investigadores_Vigentes_2024.xlsx"
  )
  
  # Obtener URL correspondiente
  url <- urls[[as.character(anio)]]
  if (is.null(url)) stop("Año no disponible.")
  
  # Descargar archivo temporal
  archivo_temp <- tempfile(fileext = ".xlsx")
  download.file(url, destfile = archivo_temp, mode = "wb")
  
  # Leer según el año
  if (anio == 2022) {
    reg_snii <- readxl::read_excel(archivo_temp, sheet = 3, col_types = "text") |> 
      janitor::clean_names()
    
  } else if (anio %in% c(2023, 2024)) {
    reg_snii <- readxl::read_excel(archivo_temp, sheet = 4, col_types = "text") |> 
      janitor::clean_names()
    
  } else {
    hojas <- readxl::excel_sheets(archivo_temp)
    reg_snii <- lapply(hojas, function(hoja) {
      readxl::read_excel(archivo_temp, sheet = hoja, col_types = "text") |> 
        janitor::clean_names()
    }) |> 
      dplyr::bind_rows()
  }
  
  return(reg_snii)
}

In [132]:
#Leer las bases del SNI de los años 2018 a 2024
snii2018 <-leer_snii(2018)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VII.- INGENIERÍAS"))

snii2019 <-leer_snii(2019)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VII.- INGENIERÍAS"))
snii2020 <-leer_snii(2020)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VII.- INGENIERÍAS"))
snii2021 <-leer_snii(2021)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VII.- INGENIERÍAS"))
snii2022 <-leer_snii(2022)|>
  filter(area_del_conocimiento %in% c("I.- FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "II.- BIOLOGÍA Y QUÍMICA", 
                                      "III.- MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "VIII.- INGENIERÍAS Y DESARROLLO TECNOLÓGICO", 
                                      "Físico-Matemáticas y Ciencias de la Tierra", 
                                      "Medicina y Ciencias de la Salud",
                                      "Biología y Química"))

snii2023 <-leer_snii(2023)|>
  filter(area_del_conocimiento %in% c("FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "BIOLOGÍA Y QUÍMICA", 
                                      "MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "INGENIERÍAS Y DESARROLLO TECNOLÓGICO"))
snii2024 <-leer_snii(2024)|>
  filter(area_de_conocimiento %in% c("FÍSICO-MATEMÁTICAS Y CIENCIAS DE LA TIERRA",
                                      "BIOLOGÍA Y QUÍMICA", 
                                      "MEDICINA Y CIENCIAS DE LA SALUD", 
                                      "INGENIERÍAS Y DESARROLLO TECNOLÓGICO"))

In [133]:
#Obtener los totales nacionales y de la Ciudad de México
snii2018_nac<-snii2018|>
  summarise(nacional = n())|>
  mutate(ano = 2018)

snii2018_nac

snii2019_nac<-snii2019|>
  summarise(nacional = n())|>
  mutate(ano = 2019)

snii2020_nac<-snii2020|>
  summarise(nacional = n())|>
  mutate(ano = 2020)

snii2021_nac<-snii2021|>
  summarise(nacional = n())|>
  mutate(ano = 2021)

snii2022_nac<-snii2022|>
  summarise(nacional = n())|>
  mutate(ano = 2022)

snii2023_nac<-snii2023|>
  summarise(nacional = n())|>
  mutate(ano = 2023)

snii2024_nac<-snii2024|>
  summarise(nacional = n())|>
  mutate(ano = 2024)

nacional_snii<-snii2018_nac|>
  bind_rows(snii2019_nac,snii2020_nac, snii2021_nac,snii2022_nac, snii2023_nac, snii2024_nac)

nacional_snii

snii2018_cdmx<-snii2018|>
  group_by(entidad_federativa)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2018)

snii2018_cdmx

snii2019_cdmx<-snii2019|>
  group_by(entidad_federativa)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2019)

snii2020_cdmx<-snii2020|>
  group_by(entidad_federativa)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2020)

snii2021_cdmx<-snii2021|>
  group_by(entidad_federativa)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2021)

snii2022_cdmx<-snii2022|>
  group_by(entidad_federativa_de_adscripcion)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa_de_adscripcion=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2022)

snii2023_cdmx<-snii2023|>
  group_by(entidad_federativa_de_adscripcion)|>
  summarise(cdmx = n())|>
  filter(entidad_federativa_de_adscripcion=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2023)
         
snii2024_cdmx<-snii2024|>
  group_by(entidad_de_acreditacion)|>
  summarise(cdmx = n())|>
  filter(entidad_de_acreditacion=="CIUDAD DE MÉXICO")|>
  mutate(ano = 2024)

cdmx_snii<-snii2018_cdmx|>
  bind_rows(snii2019_cdmx,snii2020_cdmx, snii2021_cdmx,snii2022_cdmx, snii2023_cdmx,snii2024_cdmx)|>
  select(ano, cdmx)

cdmx_snii

  nacional ano
1 16280    2018

  nacional ano
1 16280    2018
2 17243    2019
3 18445    2020
4 19343    2021
5 19554    2022
6 21702    2023
7 22414    2024

  entidad_federativa cdmx ano
1 CIUDAD DE MÉXICO   5217 2018

  ano  cdmx
1 2018 5217
2 2019 5297
3 2020 5427
4 2021 5594
5 2022 6645
6 2023 7903
7 2024 8063

In [ ]:
#Porcentaje de integrantes del SNII en áreas del conocimiento STEM
porcentaje_part_snii<-nacional_snii|>
  left_join(cdmx_snii, by = "ano")|>
  mutate(porcentaje = (cdmx*100)/nacional,
          tipo = "Observado")

porcentaje_part_snii

  nacional ano  cdmx porcentaje tipo
1 16280    2018 5217 32.04545   Observado
2 17243    2019 5297 30.71971   Observado
3 18445    2020 5427 29.42261   Observado
4 19343    2021 5594 28.92002   Observado
5 19554    2022 6645 33.98282   Observado
6 21702    2023 7903 36.41600   Observado
7 22414    2024 8063 35.97305   Observado

In [141]:
#ESCENARIOS
#Metas establecidas por la SECTEI
porcentaje <- data.frame(
  ano = c(2030, 2035, 2045), 
  porcentaje = c(40, 44, 52))
#TASAS GENERLES PARA CADA PERIODO
año_bse <- porcentaje_part_snii|>
  filter(ano == 2024)

#Tasas de cobertura para los años 2030, 2035 y 2045 (estas tasas son las metas establecidas por la SECTEI)
t2030<-porcentaje|>
filter(ano == 2030)
t2035<-porcentaje|>
filter(ano == 2035)
t2045<-porcentaje|>
filter(ano == 2045)

tc1= (t2030$porcentaje / año_bse$porcentaje)^(1 / (2030 - 2024)) - 1
tc2= (t2035$porcentaje / t2030$porcentaje)^(1 / (2035 - 2030)) - 1
tc3= (t2045$porcentaje / t2035$porcentaje)^(1 / (2045 - 2035)) - 1

tc1
tc2
tc3

[1] 0.01784219

[1] 0.01924488

[1] 0.01684572

In [ ]:
#Proyecciones 
proyecciones_porcentaje_part_snii <- data.frame(
  ano = 2025:2045) |>
  mutate(porcentaje = ifelse(ano < 2030,año_bse$porcentaje * (1 + tc1)^(ano - año_bse$ano),
                         ifelse(ano == 2030, t2030$porcentaje,
                                ifelse(ano < 2035, t2030$porcentaje * (1 + tc2)^(ano - t2030$ano),
                                        ifelse(ano == 2035, t2035$porcentaje,
                                                ifelse(ano < 2045, t2035$porcentaje * (1 + tc3)^(ano - t2035$ano),
                                                       ifelse(ano == 2045, t2045$porcentaje, 0)))))),

        tipo = "Deseable")
									   
									   
snii <- porcentaje_part_snii |>
  select(ano, tipo, porcentaje)|>
  bind_rows(proyecciones_porcentaje_part_snii,)

snii

   ano  tipo          porcentaje
1  2018 Observado     32.04545
2  2019 Observado     30.71971
3  2020 Observado     29.42261
4  2021 Observado     28.92002
5  2022 Observado     33.98282
6  2023 Observado     36.41600
7  2024 Observado     35.97305
8  2025 Deseable      36.61489
9  2026 Deseable      37.26818
10 2027 Deseable      37.93313
11 2028 Deseable      38.60994
12 2029 Deseable      39.29882
13 2030 Deseable      40.00000
14 2031 Deseable      40.76980
15 2032 Deseable      41.55440
16 2033 Deseable      42.35411
17 2034 Deseable      43.16921
18 2035 Deseable      44.00000
19 2036 Deseable      44.74121
20 2037 Deseable      45.49491
21 2038 Deseable      46.26130
22 2039 Deseable      47.04061
23 2040 Deseable      47.83304
24 2041 Deseable      48.63883
25 2042 Deseable      49.45818
26 2043 Deseable      50.29134
27 2044 Deseable      51.13853
28 2045 Deseable      52.00000
29 2024 Inercial      35.97000
30 2025 Inercial      36.59000
⋮  ⋮    ⋮             ⋮
43 2038 Inercial      45.66
44 2039 Inercial      46.44
45 2040 Inercial      47.24
46 2041 Inercial      48.05
47 2042 Inercial      48.88
48 2043 Inercial      49.72
49 2044 Inercial      50.57
50 2045 Inercial      51.44
51 2024 Transformador 35.97
52 2025 Transformador 36.90
53 2026 Transformador 37.85
54 2027 Transformador 38.83
55 2028 Transformador 39.83
56 2029 Transformador 40.85
57 2030 Transformador 41.91
58 2031 Transformador 42.99
59 2032 Transformador 44.09
60 2033 Transformador 45.23
61 2034 Transformador 46.39
62 2035 Transformador 47.59
63 2036 Transformador 48.82
64 2037 Transformador 50.07
65 2038 Transformador 51.36
66 2039 Transformador 52.69
67 2040 Transformador 54.05
68 2041 Transformador 55.44
69 2042 Transformador 56.87
70 2043 Transformador 58.33
71 2044 Transformador 59.84
72 2045 Transformador 61.38